<nav class="sticky-navbar" #navbar>
  <h3>Sticky navbar</h3>
</nav>

<section class="container">
  <h2>Unit test</h2>

  <pre *ngIf="snippet$ | async as snippet">
    <code [highlight]="snippet"></code>
  </pre>
</section>
