::ng-deep {
  body {
    min-height: 2000px;
  }
}

nav.sticky-navbar {
  background: #000;

  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  padding: 2em;

  top: 0;

  h3 {
    color: #fff;
  }

  &.is-sticky {
    position: fixed;

    background: #bdbdbd;

    h3 {
      color: #000;
    }
  }
}
