/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/atom-one-dark.css';

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 50em;

  margin: 0 auto;
  padding: 2em;

  h2 {
    margin-top: 1em;
  }
}
